logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
.iml
.tmp/
*/dist/*
*/target/*
*.class
gs-security-server/src/main/webapp
.metadata/
.recommenders/
.sonarlint/
RemoteSystemsTempFiles/
scrapy_log.txt
venv
